<html>
<body>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="C:\Users\swabhi\Dropbox\PC\Desktop\style.css">
</head>
<table  width=60% height=60% bgcolor=#FFFFFF align="center">
<tr>
<th> Time of pickup </th>
<th> Address </th>
<th> Delivery location </th>
<th> Action </th>
</tr>
<tr>
<td>    </td>
<td>    </td>
<td>    </td>
<td> <a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
      <button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">view</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Accept</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html"> 
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Decline</button></a>
 </td> 
</tr>
<tr>
<td>           </td>
<td>           </td>
<td>           </td>
<td>  <a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
      <button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">view</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Accept</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html"> 
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Decline</button></a>
</td>
<tr>
<td>    </td>
<td>    </td>
<td>    </td>
<td>
 <a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
      <button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">view</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Accept</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html"> 
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Decline</button></a>
</td>
<tr>
<td>    </td>
<td>    </td>
<td>    </td>
<td> 
 <a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
      <button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">view</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html">
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Accept</button></a> 
 /<a href="file:C:/Users/swabhi/Dropbox/PC/Desktop/view1.html"> 
<button onclick="doSomething()" style="background-color:#FFFFFF;color:#404040;border-radius:3px">Decline</button></a>
</td>
</tr>
</table>
</body>
</html>